@use "@/styles/mixins.module" as *;
@use "@/styles/variables.module" as *;
@use "@/styles/colors.module" as *;
@use "@/styles/spacing.module" as *;
@use "@/styles/radius.module" as *;

.container {
    // width: 100%;
    // white-space: nowrap;
    font-size: font-size(base);
    font-weight: 500;
    // font-size: font-size(tiny);

    // @include down(sm) {
    //     font-size: font-size(tiny);
    // }

    // @include down(md) {
    //     white-space: nowrap;
    //     font-size: font-size(lg);
    // }


    // @include down(lg) {
    //     color: color(base, white);
    // }

    .sm {
        font-size: font-size(sm);
    }
}

.xs {
    font-size: font-size(sm);
}

.sm {
    font-size: font-size(tiny);
}

// .md {
//     font-size: font-size(base)
// }