@use "@/styles/mixins.module" as *;
@use "@/styles/variables.module" as *;
@use "@/styles/colors.module" as *;
@use "@/styles/spacing.module" as *;
@use "@/styles/radius.module" as *;


.title {
    // font-size: font-size(xl);
    margin: 0;
    padding: 0;
}

.sm {
    font-size: font-size(base);
}

.md {
    font-size: font-size(lg);
    color: color(primary, 500)
}

.lg {
    font-size: font-size(xl);
}