@use "@/styles/mixins.module" as *;
@use "@/styles/variables.module" as *;
@use "@/styles/colors.module" as *;

.btn {
    padding: 14px 24px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: color(primary, 500);
    color: #fff;
    font-weight: bolder;
    font-size: font-size(base);
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    width: 100%;
}

.primary {
    background-color: red;
}

.secondary {
    border: 1px solid color(primary, 500);
    background-color: transparent;
    color: color(primary, 500);

    &:hover {
        background-color: color(primary, 500);
        color: #fff;
    }
}