@use "@/styles/mixins.module" as *;
@use "@/styles/variables.module" as *;
@use "@/styles/colors.module" as *;
@use "@/styles/spacing.module" as *;

.input_group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    // margin: 10px 0;

    .input {
        width: 100%;
        padding: 16px 10px;
        border-radius: radius(sm);
        border: 1px solid color(neutral, 500);
        background-color: transparent;
    }


    .error {
        border: 1px solid color(error, 500);
        outline: color(error, 500);

        &:focus {
            border: 1px solid color(error, 500);
        }
    }

    .required {
        color: color(error, 400);
    }

    .error_message {
        color: color(error, 500);
    }
}