@use "@/styles/mixins.module" as *;
@use "@/styles/variables.module" as *;
@use "@/styles/colors.module" as *;
@use "@/styles/spacing.module" as *;
@use "@/styles/radius.module" as *;

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: radius(sm);
    border: 1px solid color(neutral, 500);
    gap: 1rem;
    padding: 15px 20px;

    svg {
        stroke: color(neutral, 500);
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    hr {
        height: 2rem;
        width: 1px;
        background-color: color(neutral, 500);
        border: none;
    }

    .inputContainer {
        width: 100%;

        input {
            width: 100%;
            border: none;
            outline: none;
            background: transparent;
            // color: color(neutral, 800);
            font-size: font-size(tiny);

            &::placeholder {
                font-size: font-size(base);
            }

            &:focus {
                border: none
            }
        }

    }

    .btn {
        padding: 0 0.5rem;

        button {
            background-color: transparent;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                stroke: color(error, 300);

            }
        }
    }
}